<!-- 雛形　ページ表示view -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>MyNote</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body style="margin-right: 0px;">
    <!-- 上部nav -->
    <div class="nav1">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" id="theme_link" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
      <div class="fixed-left">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          <a class ="navbar-brand" href="{% url 'index' %}">mynote</a>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav nav-sidebar">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">
                    note
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'form' %}">New</a>
                    <a class="dropdown-item" href="{% url 'list' %}">Open</a>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mybpm' %}">bpm</a></li>
            </ul>

            <ul class="navbar-nav ml-auto"><!-- 右寄せ -->
              {% if user.is_authenticated　%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">
                  {{ user.get_username }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:logout'}">ログアウト</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:login'}">ログイン</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-sm-2 col-md-2 sidebar navbar-light">
            <ul class="nav nav-sidebar">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">
                    note
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'form' %}">New</a>
                    <a class="dropdown-item" href="{% url 'list' %}">Open</a>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mybpm' %}">bpm</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class='note'>
              {% block content %}{% endblock %}
            </div>
            <div class='chart'>
              {% block chart %}{% endblock %}
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
