<!-- ノートの編集画面 -->
{% extends 'base.html' %}

{% block footer %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<input type="time" id="time" name="time" step="60"></input>
{% endblock %}

{% block time %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<h1 class="my-3"></h1>
<div class="balloon" id="balloon" style="visibility: hidden;">
  <p><span class="span2"></span></p>
</div>
{% endblock %}

{% block concent %}
<div id="concent" class='concent'>
  <p> <span class="span1" id="span1"></span></p>
</div>
<div id="moni" class='moni'>
</div>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" id="theme_link" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<h1></h1>
<div class="form">
  <form method="POST" action="{% url 'updata' note.note_id %}">
      {% csrf_token %}
      <p>title: {{ form.title }}</p>
      <p>category: {{ form.category}}</p>
      <p>{{ form.content }}</p>
  <button id="submit_btn" type="submit" class="btn btn-dark" value="Submit">保存</button>
  <button id="delete_btn" type="button" class="btn btn-dark" onclick="location.href='{% url 'delete' note.note_id %}'">削除</button>
  <button id="keylog_enter_btn" type="button" class="btn btn-dark" value="keylog_btn" style="visibility: hidden;">http</button>
  <button id="keylog_delete_btn" type="button" class="btn btn-dark" value="keylog_btn" style="visibility: hidden;">http</button>
  </form>
  <p><span class="show-count">0</span>byte</p>
</div>

<!-- フォーム('#id_content')の文字数カウントを行うjavascriptプログラム -->
<!-- エンターキーを押した時にsubmitするプログラム -->
<!-- クッキーを取得するプログラム -->
<!-- 保存ボタンを押したタイミングで、文字数とnote_idをfetchプログラムで/api/keylogs/へhttp送信 -->
<!-- 定期的に"#submit_btn"を押して、保存を行うプログラム -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" charset="utf-8"></script>
<script>
$(function(){
  $('#id_content').keyup(function(e){//keyupはisComposingがtrue(Chrome Firefox	Safari確認済み)
    var count = $(this).val().length;
    $('.show-count').text(count);

    if( e.which == 13 || e.key== 'Enter'){//enter e.which == 13 ||  backspace 押した際
       $("#keylog_enter_btn").click();
    }
    if( e.which == 8 || e.key== 'BackSpace'){//enter e.which == 13 ||  backspace 押した際
        $('.span2').text();
        $("#keylog_delete_btn").click();
        if(document.getElementById("balloon").style.visibility != "hidden"){
          document.getElementById("balloon").style.visibility = "hidden";
          $('.span2').text("");
        }
    }
  });
});
setInterval('state()', 60000);
setInterval('timeSet()', 300000);
const getCookie = name =>{
      if (document.cookie && document.cookie !== '') {
          for (const cookie of document.cookie.split(';')){
              const [key, value] = cookie.trim().split('=');
              if(key === name) {
                  return decodeURIComponent(value);
              }
          }
      }
  };
function state() {
    let bpm_data = new Array(2).fill(0);
    let bpm_time = new Array(2).fill(0);
    let key_data = new Array(2).fill(0);
    let key_time = new Array(2).fill(0);

    var times = '3';// 前3分間の時間幅を指定
    var param = moment().subtract(times,'minutes').format('YYYY-MM-DD HH:mm:ss')
//心拍数
    $.getJSON('/api/logs?created_at__gte=' + param)
        .done(function (source) { // もしもパラメータ(前一時間の範囲)でデータがあれば
          var user = "{{ user.get_username }}";
          var count = 1;
          //前一定時間(times)の間において、該当ユーザの2件の最新bpmデータ
          if(source.length > 1){
            for(let i=source.length-1; i>0; i--){
              //let bpm_data = new Array(3);
              const json = JSON.parse( JSON.stringify(source[i]) );
              bpm_user = json.user_id;
              if( bpm_user == 0 ){// 該当ユーザであれば[0]~[1]の2件のbpmデータ
                bpm_data[count] = json.bpm;
                bpm_time[count] = json.measured_at;
                count--;
                if( count < 0 )break;
              }
            }
          }
            if( count < 0 ){//bpmが2件あれば
              $.getJSON('/api/keylogs?created_at__gte=' + param)//打鍵数
                  .done(function (key_source) { // もしもパラメータ(前一時間の範囲)でデータがあれば
                    var note_id = "{{ note.note_id }}";
                    var miss = 1;
                    var tmp = 180;

                    var now = new Date();
                    if(key_source.length > 1){//前一定時間(times)の間において、該当ユーザ2件の最新bpmデータ
                      count = 1;
                      for(let i = key_source.length-1; i>=0 ; i--){//前一定時間(times)の間において、該当ユーザの最新のデータから検索かける
                        const json = JSON.parse( JSON.stringify(key_source[i]) );
                        if(json.note_id == note_id){// 該当ノートであれば
                          if(count == 1 ){
                            var diff = now.getTime()-new Date(json.counted_at).getTime();//new Date(bpm_time[count]).getTime()
                            diff = diff/1000; //秒
                            if(diff*diff < tmp*tmp){//最新の値
                              tmp = diff;
                              key_data[count] = json.count;
                              key_time[1] = json.counted_at;
                              if(json.key=='8')miss++;
                            }else count--;
                          }
                          if(count == 0){
                            tmp = 180;
                            var diff = new Date(json.counted_at).getTime() - now.getTime();
                            diff = diff/1000 + 60; //秒
                            if(diff*diff < tmp*tmp){//最新の値
                              tmp = diff;
                              key_data[count] = json.count;
                              key_time[0] = json.counted_at;
                              if(json.key=='8')miss++;
                            }else count--;
                          }
                          if( count<0 ){
                            break;
                          }
                        }
                      }

                    }
////////* 判定 *///////////
                    if(count<0){//打鍵数のデータが2件あれば
                      var bpm_up_rate = bpm_data[1]-bpm_data[0];//心拍の上昇率
                      var time = new Date(key_time[1]).getTime()-new Date(key_time[0]).getTime();
                      time = time/60000;
                      var key_up;
                      if(time==0)key_up=0;
                      else key_up = (key_data[1]-key_data[0])/time; //1minあたりの打鍵数
                      miss = miss/time;
                      console.log("bpm上昇");
                      console.log(bpm_up_rate);
                      if(key_up<0)key_up=0;
                      //sessionStorage.setItem('CT', 50);
                      var CT=0;
                      var CT0;
                      var KEYUP0;
                      var key_up_rate;
                      if(sessionStorage.getItem('NOTE') == null){
                          CT0 = 50;
                      }
                      else if(sessionStorage.getItem('CT')==null || isNaN(sessionStorage.getItem('CT')) ||  parseInt(sessionStorage.getItem('NOTE')) != note_id){
                        CT0 = parseFloat(50);
                      }else CT0 = parseFloat(sessionStorage.getItem('CT'));

                      if(sessionStorage.getItem('KEYUP0')==null || isNaN(sessionStorage.getItem('KEYUP0'))){
                        KEYUP0 = parseFloat(0);
                      }else KEYUP0 = parseFloat(sessionStorage.getItem('KEYUP0'));

                      if(KEYUP0 < 1){
                        key_up_rate = 0;
                      } else {
                        key_up_rate = (key_up-KEYUP0)/KEYUP0;
                        if(key_up_rate<0)key_up_rate *= -1;
                      }//0~10くらい？
                      console.log("CT0");
                      console.log(parseFloat(CT0));
                      CT = parseFloat(CT0) + parseFloat(10*key_up_rate*bpm_up_rate*(miss/(key_up+miss)));
                        //CT = parseFloat(CT0) + parseFloat(500*key_up_rate*bpm_up_rate*(miss/(key_up+miss)));
                      if(CT>=100)CT=100;
                      else if(CT<0)CT=0;
                      sessionStorage.setItem('CT', CT.toFixed(16));
                      sessionStorage.setItem('KEYUP0', key_up.toFixed(16));
                      sessionStorage.setItem('NOTE', note_id);
                      console.log("打鍵速度の差");

                      console.log(key_up);
                      console.log(KEYUP0);

                      console.log("打鍵速度の変化　ミス発生率 ct");
                      console.log(key_up_rate);
                      console.log((miss/(key_up+miss)));
                      console.log(10*key_up_rate*bpm_up_rate*(miss/(key_up+miss)));
                      console.log(CT);

//                      if(CT==CT0){
//                      }else if(CT < 40){
//                        $('.span1').text(CT+": 集中していない");
//                      }else{
//                        $('.span1').text(CT+": 集中している");
//                        if(document.getElementById("time").value != ""){
//                          $('.span2').text("");
//                        }
//                      }
                    }
/////////////////////////
             })
           }
   });
}
function timeSet(){
  var input_time = document.getElementById("time").value;
  const input = input_time.split(':');
  var date = new Date();
  var min=0;
  var h=0;
  min += Number(input[1])-date.getMinutes();
  if(min<0){
    h-=1;
  }
  h += Number(input[0])-date.getHours();
  if(h<0){}
  else{
    $('.span2').text("あと"+String(h)+"時間"+String(min)+"分");
    document.getElementById("balloon").style.visibility ="visible";
    console.log("あと"+String(h)+"時間"+String(min)+"分");
    //sessionStorage.setItem('TIME')=="あと"+String(h)+"時間"+String(min)+"分";
  }
}
$(document).on("click", "#keylog_delete_btn", function(){
   var button = $(this);
   var val_note_id = "{{ note.note_id }}";//$('#id_note_id').val();//undefinedになってた
   var val_count = $('#id_content').val().length;// フォーム内の文字数

   var data = { "count": val_count,  "note_id": val_note_id, "key":8};
   var json_data = "{" +"\"note_id\":"+ val_note_id +"," +"    \"count\": "+ val_count +","+ "    \"key\": "+ 8 +"}";
   var json_text = JSON.stringify(data);

   var xmlHttpRequest = new XMLHttpRequest();
   var url = "http://172.20.10.3:8000/api/keylogs/";
  //var url = "https://mynote.pythonanywhere.com/api/keylogs/"; //IP変え忘れ注意
   var user = "sugairisa";//
   var pass = "science1220";//
   var authorizationBasic = user+ ':' + pass;
   const param  = {
     method: "POST",
     headers: {
       "Accept": "application/json",
       "Content-Type": "application/json",
       "X-Requested-With": "XMLHttpRequest",
       "X-CSRFToken": getCookie("csrftoken"),
     },
     body: JSON.stringify(data)
   };
   sendServer(url, param);
 });
$(document).on("click", "#keylog_enter_btn", function(){
   var button = $(this);
   var val_note_id = "{{ note.note_id }}";//$('#id_note_id').val();//undefinedになってた
   var val_count = $('#id_content').val().length;// フォーム内の文字数

   var data = { "count": val_count,  "note_id": val_note_id, "key":13};
   var json_data = "{" +"\"note_id\":"+ val_note_id +"," +"    \"count\": "+ val_count +","+ "    \"key\": "+ 13 +"}";
   var json_text = JSON.stringify(data);

   var xmlHttpRequest = new XMLHttpRequest();
   var url = "http://172.20.10.3:8000/api/keylogs/";
  //var url = "https://mynote.pythonanywhere.com/api/keylogs/"; //IP変え忘れ注意
   var user = "sugairisa";//
   var pass = "science1220";//
   var authorizationBasic = user+ ':' + pass;
   const param  = {
     method: "POST",
     headers: {
       "Accept": "application/json",
       "Content-Type": "application/json",
       "X-Requested-With": "XMLHttpRequest",
       "X-CSRFToken": getCookie("csrftoken"),
     },
     body: JSON.stringify(data)
   };
   sendServer(url, param);
 });
 function sendServer(url, param){
  fetch(url, param)
    .then((response)=>{
      return response.json();
    })
    .then((data)=>{
        //console.log('Success:', JSON.stringify(data));
    })
    .catch((error)=>{
      console.log(`[error2] ${error}`);
    });
}
</script>
{% endblock %}
